section {
  min-height: 500px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-body {
  background-color: #3C4257;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Section-header-title {
  color: white;
}

#mission {
  color: white;
}

.Member-panel {
  height: 410px;
}

.Member-panel-body {
  background-image: url(/hangai.png);
  background-position: center;
  background-size: cover;
  color: white;
  height: 190px;
  padding-bottom: 10px;
  position: relative;
}

.Member-panel-body:after {
  display: block;
  content: "";
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(255,0,0,0.4);
}

.Member-panel-body-photo {
  margin: auto;
  width: 95px;
  height: 95px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 5;
}

.Member-panel-body-title {
  position: relative;
  z-index: 5;
}

.Member-panel-body-description {
  margin-bottom: 0;
  position: relative;
  z-index: 5;
}

.Member-panel-footer {
  background-color: #242933;
}

.Member-panel-footer-description {
  padding: 24px;
  box-sizing: border-box;
  color: white;
  font-size: small;
}

.Products-body-panel {
  background-color: #555A6C;
  color: white;
  height: 280px;
}

.Products-body-panel-image {
  width: 160px;
  height: 230px;
}

.News-body {
  background-color: #333645;
}

.News-body-list-item {
  background-color: #3C4257;
  height: 160px;
}

.News-body-list-item-icon {
  width: 100px;
  height: auto;
  margin: auto;
}

.News-body-list-item-date {
  color: white;
}

.News-body-list-item-description {
  color: white;
}
